<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
  <add name="QLCHTL_connectionString" connectionString="Data Source=LAPTOP-BGL14ODM\SQLEXPRESS;&#xD;&#xA;								Initial Catalog=QuanLyCuaHangTienLoi;&#xD;&#xA;								Integrated Security=True" />
  <add name="BTL.Properties.Settings.QuanLyCuaHangTienLoiConnectionString"
   connectionString="Data Source=laptop-bgl14odm\sqlexpress;Initial Catalog=QuanLyCuaHangTienLoi;Integrated Security=True;Encrypt=True;TrustServerCertificate=True"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
	
</configuration>